<!DOCTYPE html>
<html>
<head>
  <title>test: 새 비밀번호 설정</title>
  <script>
    document.addEventListener("DOMContentLoaded", function(){
      const url = location.href
      const queryString = url.split('?');
      const actionValue = document.getElementById('pSet').getAttribute('action')
      document.getElementById('pSet').setAttribute('action', `${actionValue}?${queryString[1]}`)
    });

    function chkNewPasswordBeforeSubmit() {
      const pSet = document.frmNewPassword
      const password = pSet.newPassword.value.trim()
      const newPassword = pSet.chkNewPassword.value.trim()
      if (password == newPassword) {
        pSet.submit()
      }
    }
  </script>
</head>

<body>
  <form id="pSet" action="/api/user/newpassword" method="post" name="frmNewPassword">
    <label>
      새로운 비밀번호
      <input type="password" name="newPassword">
    </label>

    <br>
    <br>

    <label>
      새로운 비밀번호 확인
      <input type="password" name="chkNewPassword">
    </label>
    
    <br>
    <br>

    <button type="button" onClick="chkNewPasswordBeforeSubmit()"> 제출 </button>
  </form>
</body>
</html>